<#setting classic_compatible=true>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>User List</title>
<style type="text/css">
<!--
.STYLE1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FF0000;
}
.STYLE13 {font-size: 24}
.STYLE15 {font-family: Arial, Helvetica, sans-serif; font-size: 24px; }
-->
</style>
</head>

<body>
	<div align = "center">
		
		<#if user.id??>
			<h1>修改</h1>
			<#else> 
			<h1>添加</h1>
		</#if>
		<form action="edit" style="margin-top: 200px">
			<br/>
			<input type="hidden" name = "id" value = "${user.id}"/>
			<input type="text" name = "userName" value="${user.userName}"/><br/><br/>
			<input type="text" name = "password" value="${user.password}"/><br/><br/>
			<input type="text" name = "realName" value="${user.realName}"/><br/><br/>
			<input type="text" name = "phoneNum" value="${user.phoneNum}"/><br/><br/>
			
			<input type="submit" value="提交"/>
			<input type="reset" value="重置"/>
		</form>
	</div>
</body>
</html>